.auth-block {
    background-color: var(--background_secondary);
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 416px;
    padding: 40px;
    border-radius: 40px;

    .button {
        margin-top: 24px;
    }
}

.auth-block__title {
    margin-bottom: 40px;
}

.auth-block__inputs {
    display: flex;
    flex-direction: column;
    gap: 18px;

    textarea {
        resize: none;
    }

    input,
    textarea {
        width: 100%;
        padding: 12px;
        font-weight: 16px;
        background: none;
        border: 1px solid var(--on_secondary_hover);
        border-radius: 12px;
        color: var(--on_secondary);

        &:focus {
            outline: none;
        }

        &:focus~label {
            top: -8px;
            font-size: 12px;
            color: var(--accent);
        }

        &:focus~.bar:before {
            width: 100%;
        }
    }

}

.auth-block__input {
    position: relative;

    label {
        color: var(--on_secondary);
        background: var(--background_secondary);
        padding: 0 4px;
        font-size: 16px;
        font-weight: normal;
        position: absolute;
        pointer-events: none;
        left: 10px;
        top: 12px;
        transition: 0.3s ease all;
    }
}

.auth-block__register-text {
    font-size: 14px;
    margin-top: 18px;
    font-weight: 500;

    a {
        color: var(--accent);
    }
}