// Headings varaiables
$heading_huge: 96px;
$heading_big: 28px;
$heading_medium: 24px;
$heading_small: 20px;

// Font variables
$text_big: 20px;
$text_regular: 18px;
$text_small: 16px;
$text_mini: 14px;

// Blocks variables
$border_radius: 24px;
$gap: 24px;
$content_spacing: 40px;