@import "https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200";
@import "https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap";
@import "../src/globalStyles/Variables.scss";
@import "../src/globalStyles/Themes.scss";
@import "./NullStyles.scss";

main {
    margin-left: auto;
    margin-right: auto;
    width: 936px;
    margin-bottom: $content_spacing;
}

body {
    color: var(--on_background);
    background-color: var(--background);
    font-family: Roboto;
    height: 100%;
    padding-bottom: 80px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}



.container {
    margin-top: $content_spacing;
}

.button {
    border: none;
    display: flex;
    align-items: center;
    gap: 8px;
    background: var(--accent);
    color: var(--on_accent);
    font-size: $text_mini;
    font-weight: 500;
    line-height: 20px;
    padding: 10px 24px 10px 24px;
    max-width: fit-content;
    max-height: fit-content;
    border-radius: 24px;
    text-align: center;
    cursor: pointer;

    span {
        font-size: 18px;
    }
}


.navbar__item_active {
    .navbar__item_box {
        background-color: var(--secondary_active);
        border-radius: 16px;
    }
}


.title__section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 4px;

    .continue__button {
        padding: 10px 20px 10px 24px;
    }
}

@keyframes caretFlashSmooth {

    0%,
    100% {
        opacity: 0.5;
    }

    50% {
        opacity: 1;
    }
}

@keyframes smoothActiveButton {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}