@import "https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200";
@import "https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap";
@import "./NullStyles.scss";

:root[data-theme='dark'] {
    --background: #1C1B1F;
    --background_secondary: #2A2831;
    --on_background: #E8DEF8;
    --on_secondary: #CCC2DC;
    --on_secondary_hover: #e4d9f5;
    --secondary_active: #4A4458;
    --on_accent: #381E72;
    --accent: #D0BCFF;
    --input: #545062;
    --green: #7BB283;
    --red: #A86B6B;
}

:root[data-theme='light'] {
    --background: #FFFBFE;
    --background_secondary: #F3EDF7;
    --on_background: #1C1B1F;
    --on_secondary: #1D192B;
    --on_secondary_hover: #201d2c;
    --secondary_active: #E8DEF8;
    --accent: #D0BCFF;
    --on_accent: #381E72;
    --green: #259e37;
    --red: #9e2424;
}

$heading_big: 28px;
$heading_medium: 24px;
$heading_small: 20px;

// Font variables
$text_small: 16px;
$text_mini: 14px;

// Blocks variables
$border_radius: 24px;
$gap: 24px;
$content_spacing: 40px;

main {
    margin-left: auto;
    margin-right: auto;
    width: 936px;
    margin-bottom: $content_spacing;
}

* {
    // transition: 100ms;
}

.container {}

body {
    color: var(--on_background);
    background-color: var(--background);
    font-family: Roboto;
    height: 100%;
    padding-bottom: 80px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


header {
    color: var(--on_background);
    margin-top: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header__user {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .logout__button {
        background: var(--secondary_active);
        display: flex;
        border: none;
        border-radius: 9px;
        margin: 0;
        padding: 7px;
        color: var(--on_secondary);
        cursor: pointer;

        span {
            font-size: 18px;
            font-variation-settings:
                'FILL' 1,
                'wght' 700,
                'GRAD' 0,
                'opsz' 48,
        }
    }
}

.button {
    border: none;
    display: flex;
    align-items: center;
    gap: 8px;
    background: var(--accent);
    color: var(--on_accent);
    font-size: $text_mini;
    font-weight: 500;
    line-height: 20px;
    padding: 10px 24px 10px 24px;
    max-width: fit-content;
    max-height: fit-content;
    border-radius: 24px;
    text-align: center;
    cursor: pointer;

    span {
        font-size: 18px;
    }
}

.cards__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $gap;
    margin-top: $content_spacing;

    * {
        transition: cubic-bezier(0.075, 0.82, 0.165, 1);
        transition: 200ms;
    }

    .card {
        background-color: var(--background_secondary);
        border-radius: $border_radius;
        text-decoration: none;
        color: var(--on_secondary);

        &:hover {
            color: var(--on_secondary_hover);
            border-radius: 50px;

            .card__img {
                border-radius: 50px;
            }
        }

        .card__img {
            height: 200px;
            border-radius: 24px;
        }

        .card__text {
            display: flex;
            flex-direction: column;
            gap: 8px;
            padding: 24px;

            .card__title {
                font-size: $heading_medium;
                font-weight: 500;
            }

            .card__description {
                font-size: $text_small;
                line-height: 24px;
                font-weight: 400;
            }
        }
    }
}

nav {
    box-shadow: 0px 8px 12px 6px rgba(0, 0, 0, 0.3), 0px 4px 4px rgba(0, 0, 0, 0.3);
    background: var(--background_secondary);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: var(--on_secondary);

    span {
        font-size: $text_small;
    }

    .navbar__item {
        width: 93px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
        text-decoration: none;
        color: var(--on_secondary);

        * {
            transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
            transition: 200ms;
        }

        .navbar__item_box {
            width: 64px;
            height: 32px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .navbar__item_text {
            text-align: center;
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 16px;
            letter-spacing: 0.2px;
            font-family: 'Roboto', sans-serif;
        }
    }
}

.navbar__item_active {
    .navbar__item_box {
        background-color: var(--secondary_active);
        border-radius: 16px;
    }
}


.title__section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
    margin-top: $content_spacing;

    .continue__button {
        padding: 10px 20px 10px 24px;
    }
}

.settings {
    display: flex;
    flex-direction: column;
    gap: $content_spacing;
    font-family: 'Roboto', sans-serif;
    color: var(--on_background);

    .interface__section {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 12px;

        fieldset {
            padding: 0;
            border: 0;
            display: flex;
            flex-direction: row;
            gap: 13px;
            align-items: center;

            p {
                font-size: 18px;
                line-height: 21px;
                font-weight: 400;
            }

            select {
                box-sizing: border-box;
                font-size: 14px;
                line-height: 20px;
                font-weight: 500;
                padding: 0px 12px;
                height: 32px;
                background-color: var(--background_secondary);
                border-radius: 12px;
                border: 0;
                color: inherit;

                &:focus {
                    outline: none;
                }

            }

            .slider {
                width: 32px;
                height: 16px;
                background-image: url('./views/Settings/img/slider-circle.svg'), url('./views/Settings/img/slider-back.svg');
                background-repeat: no-repeat;
                cursor: pointer;
                transition: background-position 0.3s;
            }

            .slider.right {
                background-position: left center, center;
            }

            .slider.left {
                background-position: right center, center;
            }
        }
    }
}


.keyboard {
    width: 936px;
    display: grid;
    gap: 8px;

    .keyboard__row {
        width: 936px;
        display: flex;
        gap: 8px;

        .keyboard__button {
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 56px;
            height: 56px;
            border-radius: 14px;
            font-size: $heading_small;
            font-weight: 400;
            background: var(--background_secondary);
            transition: all 1ms linear;

            &.g,&.f,&.r,&.t,&.v,&.b{
                &.active{
                    background-color: #fcc276;
                }
            }

            &.j,&.h,&.y,&.u,&.m,&.n{
                &.active{
                    background-color: #fdef80 ;
                }
            }

            &.d,&.c,&.e,&.k,&.i{
                &.active{
                    background-color: #faa5c8;
                }
            }

            &.s,&.w,&.x,&.l,&.o{
                &.active{
                    background-color: #62e2fa;
                }
            }

            &.q,&.a,&.z,&.p{
                &.active{
                    background-color: #78e4a8;
                }
            }

            &.active {
                background-color: var(--accent);
                color: var(--on_accent);
                animation: smoothActiveButton 200ms;
            }
        }


    }

    .r5 {
        .keyboard__button {
            min-width: 69px;
        }
    }

    .space,
    .enter,
    .tab,
    .shift,
    .caps,
    .backspace {
        width: 100%;
    }
}

.levels__container {
    margin-top: $content_spacing;
    display: flex;
    flex-direction: column;
    gap: $content_spacing;


    .levels {
        display: flex;
        flex-direction: column;
        gap: 24px;

        .levels__buttons {
            display: flex;
            gap: 18px;

            button {
                background-color: var(--background_secondary);
                padding: 13px 24px;
                border: none;
                border-radius: 24px;
                color: var(--on_background);
            }
        }
    }
}

.typing__container {
    margin-top: $content_spacing;
    display: flex;
    flex-direction: column;
    gap: $content_spacing;

    .input__section {
        position: relative;
        display: flex;
        line-height: 140%;
        font-weight: 400;
        font-size: $heading_medium;
        color: var(--input);
        flex-wrap: wrap;
        overflow: hidden;
        height: 68px;
            
        .input__word {
            display: flex;

            .letter {
                color: var(--on_secondary)
            }
        }

        .whitespace {
            min-width: 10px;
        }

        .user__typings {
            width: 936px;
            position: absolute;
        }

        .letter__correct {
            color: var(--green);
        }

        .letter__incorrect {
            color: var(--red);
        }

        .whitespace__incorrect {
            background: var(--red);
        }

        .caret {
            display: inline-block;
            position: absolute;
            border-radius: 3px;
            margin-left: -3px;
            margin-top: -2px;
            height: 24px;
            transition: 0.1s;
            transform-origin: top left;
            animation: caretFlashSmooth 1s infinite;
            font-size: $heading_medium;
            color: var(--on_background);
        }
    }

    .typing__metrics {
        display: flex;
        align-items: center;
        gap: 12px;

        div {
            display: flex;
            align-items: center;
            background: var(--accent);
            color: var(--on_accent);
            font-size: $text_mini;
            font-weight: 500;
            line-height: 20px;
            padding: 10px 24px 10px 16px;
            max-width: fit-content;
            border-radius: 15px;

            span {
                margin-right: 6px;
                font-size: 16px;
            }


        }

        .accuracy {
            span {
                font-size: 20px;
            }
        }
    }
}

.results {
    margin-top: 40px;
    display: flex;
    gap: 50px;
}

.results__item {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    gap: 6px;
}

.results__item_title {
    font-size: 96px;
}

@keyframes caretFlashSmooth {

    0%,
    100% {
        opacity: 0.5;
    }

    50% {
        opacity: 1;
    }
}

@keyframes smoothActiveButton {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}