.profile__wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.main-stats {
    display: flex;
    gap: 60px;
}

.main-stat {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .title {
        font-weight: 500;
    }

    .value {
        font-size: 96px;
        font-weight: 500;
    }
}

.secondary-stats {
    display: flex;
    gap: 12px;
}

.secondary-stat {
    display: flex;
    flex-direction: column;
    gap: 12px;
    background: var(--background_secondary);
    color: var(--on_background);
    width: fit-content;
    padding: 20px;
    border-radius: 20px;

    .title {
        font-size: 16px;
    }

    .value {
        font-size: 20px;
        font-weight: 500;
    }
}

.tests-list {
    border-spacing: 0;
    /* Removes the cell spacing via CSS */
    border-collapse: collapse;

    .mode {
        width: 20%;   
    }
    .wpm {
        width: 20%;   
    }
    .accuracy {
        width: 20%;
    }
    /* Optional - if you don't want to have double border where cells touch */
    thead {
        font-weight: 500;
        font-size: 18px;

        td {
            padding: 20px;
        }

        td:first-child {
            padding-left: 30px;
        }
    }

    tbody {
        tr:nth-child(odd) td {
            background-color: var(--background_secondary);
        }

        td {
            padding: 20px;
        }

        td:first-child {
            padding-left: 30px;
            border-top-left-radius: 1000px;
            border-bottom-left-radius: 1000px;
        }

        td:last-child {
            border-top-right-radius: 1000px;
            border-bottom-right-radius: 1000px;
        }

        font-size: 16px;
    }
}