@import "../src/globalStyles/Variables.scss";

.profile__wrapper {
    display: flex;
    flex-direction: column;
    gap: $content_spacing;
}

.main-stats {
    display: flex;
    gap: 60px;
}

.main-stat {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .title {
        font-weight: 500;
    }

    .value {
        font-size: $heading_huge;
        font-weight: 500;
    }
}

.secondary-stats {
    display: flex;
    gap: 12px;
}

.secondary-stat {
    display: flex;
    flex-direction: column;
    gap: $gap/2;
    background: var(--background_secondary);
    color: var(--on_background);
    width: fit-content;
    padding: $gap;
    border-radius: $border_radius;

    .title {
        font-size: $text_small;
    }

    .value {
        font-size: $text_big;
        font-weight: 500;
    }
}

.tests-list {
    border-spacing: 0;
    border-collapse: collapse;

    .mode {
        width: 20%;   
    }
    .wpm {
        width: 20%;   
    }
    .accuracy {
        width: 20%;
    }

    thead {
        font-weight: 500;
        font-size: $text_regular;

        td {
            padding: $gap;
        }

        td:first-child {
            padding-left: $content_spacing;
        }
    }

    tbody {
        tr:nth-child(odd) td {
            background-color: var(--background_secondary);
        }

        td {
            padding: $gap;
        }

        td:first-child {
            padding-left: $content_spacing;
            border-top-left-radius: 1000px;
            border-bottom-left-radius: 1000px;
        }

        td:last-child {
            border-top-right-radius: 1000px;
            border-bottom-right-radius: 1000px;
        }

        font-size: $text_small;
    }
}