@import "../src/globalStyles/Variables.scss";

.cards__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $gap;

    * {
        transition: cubic-bezier(0.075, 0.82, 0.165, 1);
        transition: 200ms;
    }

}
